.myorders{
    margin: 50px 0px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}
.my-orders-order{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr ;
    align-items: center;
    gap: 30px;
    font-size: 14px;
    padding: 10px 20px;
    color: grey;
    border: 1px solid orange;
}
.my-orders-order img{
    width: 50px;
}
.my-orders-order p span{
    color: orange;
}
.my-orders-order p b{
    font-weight: 500;
    color: orange;
}
.my-orders-order button{
    border: none;
    padding: 8px 50px;
    border-radius: 4px;
    background-color:rgb(252, 124, 78);
    color: white;
    cursor: pointer;

}
.my-orders-order button:hover{
    background-color: gray;
    color: white;
    transform: scale(0.9) ;
}

@media (max-width: 900px) {
    .my-orders-order {
        grid-template-columns: 1fr 2fr 1fr;
        row-gap: 5px;
        font-size: 12px;
    }
    .my-orders-order button{
        font-size: 10px;
    }
}
